<!DOCTYPE html>
<html>
<head>
  <title>Singlepage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Single page website</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <%if user_signed_in? %>
      <li><%=link_to " signout", destroy_user_session_path, method: :delete, :class=>"glyphicon glyphicon-user"%></li>
      
      <%else%>
      <li><%=link_to " signin", new_user_session_path, :class=>"glyphicon glyphicon-log-in"%></li>
      <li><%=link_to " signup", new_user_registration_path, :class=>"glyphicon glyphicon-user"%></li>
      <%#= link_to " exit", destroy_user_session_path, method: :delete %>
      <%end%>
    </ul>
  </div>
</nav>
</head>
 <%if user_signed_in? %>
 <body style="background-color:<%=current_user.bgcolor unless current_user.bgcolor.nil? %>"> 
 <%else%>
 <body>
 <%end%>

<%= yield %>

</body>
</html>
